.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-calendar {
    width: 100%;
    max-height: calc(100vh - 200px);
    /* Ajusta el valor para dejar suficiente espacio para otros elementos en la página */
    overflow: auto;
    color: #1b5ccc;
    /* Cambia el color de fuente según tus necesidades */
}