<section class="hero-section mt-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="../../../assets/Frame 1.png" alt="Image of a person riding a bike" class="img-fluid">
            </div>
            <div class="col-md-6 mt-4 mt-md-0 text-center">
                <header>
                    <pc-h1 [hText]="'Long Weekends and Holidays Around the World'" [class]="'display-4 mb-4'">
                    </pc-h1>
                </header>
                <pc-paragraph [pText]='"If you love weekends and holidays, you&#39;ve come to the right place. "' [class]=" 'lead mb-4' "> </pc-paragraph>
                <nav>
                    <a routerLink="/holidays " class="btn btn-warning btn-lg text-white m-1 ">
                        Holidays!
                    </a>
                    <a routerLink="/long-weekends " class="btn btn-warning btn-lg text-white m-1 ">
                        Long Weekends!
                        </a>
                </nav>
            </div>
        </div>
    </div>
</section>